body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #6b2c91;
    color: white;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #ff6600;
    color: white;
}